---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Index.">
	<main>
		<h1>Index</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
			mauris nec nunc ultricies ultricies. Nullam nec mauris nec nunc
			ultricies ultricies. Nullam nec mauris nec nunc ultricies ultricies.
			Nullam nec mauris nec nunc ultricies ultricies. Nullam nec mauris nec
			nunc ultricies ultricies. Nullam nec mauris nec nunc ultricies
			ultricies. Nullam nec mauris nec nunc ultricies ultricies. Nullam nec
			mauris nec nunc ultricies ultricies. Nullam nec mauris nec nunc
			ultricies ultricies. Nullam nec mauris nec nunc ultricies ultricies.
			Nullam nec mauris nec nunc ultricies ultricies. Nullam nec mauris nec
			nunc ultricies ultricies. Nullam nec mauris nec nunc ultricies
			ultricies. Nullam nec mauris nec nunc ultricies ultricies. Nullam nec
			mauris nec nunc ultricies ultricies. Nullam nec mauris nec nunc
			ultricies ultricies. Nullam nec mauris nec nunc ultricies ultricies.
			Nullam nec mauris nec nunc ultricies ultricies. Nullam nec mauris nec
			nunc ultricies ultricies. Nullam nec mauris nec nunc ultricies
			ultricies. Nullam nec mauris nec nunc ultricies ultricies. Nullam nec
			mauris nec nunc ultricies ultricies. Nullam nec mauris nec nunc
			ultricies ultricies. Nullam nec mauris nec nunc ultricies ultricies.
			Nullam nec mauris nec nunc ultricies ultricies. Nullam nec mauris nec
			nunc ultricies ultricies. Nullam nec mauris nec nunc ultricies
			ultricies. Nullam nec mauris nec nunc ultricies ultricies. Nullam nec
			mauris nec nunc ultricies ultricies. Nullam nec mauris nec nunc
			ultricies ultricies. Nullam nec mauris nec nunc ultricies ultricies.
			Null
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
