---
interface Props {
  img_source: string;
}

const { img_source } = Astro.props;
---

<button><img class="img-right" src={img_source} alt=""/></button>

<style>
    .img-right{
        max-width: 100%;
        height: 2rem;
        display: flex;
        margin-inline: 0.5rem;
    }
</style>